# Columns Operations and More 

We are going to use IMDB Top-250 movies dataset in this example.
You can download the dataset with link in the below.

https://www.kaggle.com/datasets/yehorkorzh/imdb-top-250-movies

In [1]:
# 1-Import the pandas library and alias it as pd.
import pandas as pd

In [2]:
# 2-Import the dataset and assign it to a variable named films.

films = pd.read_csv("imdb_movies.csv")
films.head()

,Unnamed: 0,Num,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
0,0,1,The Shawshank Redemption,1994,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,Nominated for 7 Oscars. Another 19 wins & 30 n...,80.0,9.3,"1,825,626",tt0111161,movie,27 Jan 1998,NaN,Columbia Pictures,NaN
1,1,2,The Godfather,1972,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,Won 3 Oscars. Another 23 wins & 27 nominations.,100.0,9.2,"1,243,444",tt0068646,movie,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com
2,2,3,The Godfather: Part II,1974,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,Won 6 Oscars. Another 10 wins & 20 nominations.,85.0,9.0,"856,870",tt0071562,movie,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/
3,3,4,The Dark Knight,2008,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,Won 2 Oscars. Another 151 wins & 153 nominations.,82.0,9.0,"1,802,351",tt0468569,movie,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/
4,4,5,12 Angry Men,1957,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Nominated for 3 Oscars. Another 16 wins & 8 no...,96.0,8.9,"494,215",tt0050083,movie,06 Mar 2001,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men

In [3]:
# 3-What are the names of the columns?

films.columns

Index(['Unnamed: 0', 'Num', 'Title', 'Year', 'Released', 'Runtime', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD',
       'BoxOffice', 'Production', 'Website'],
      dtype='object')

In [4]:
# 4-Set the 'Num' column as the index of the dataframe

films.set_index("Num",inplace=True)

In [5]:
#Â 5-Drop the "Unnamed: 0" column from the dataset.

films.drop(columns="Unnamed: 0",inplace=True)

In [6]:
# 6-Print only the column Title

films.Title

Num
1      The Shawshank Redemption
2                 The Godfather
3        The Godfather: Part II
4               The Dark Knight
5                  12 Angry Men
                 ...
246            The Lost Weekend
247               Short Term 12
248             His Girl Friday
249          The Straight Story
250         Slumdog Millionaire
Name: Title, Length: 250, dtype: object

In [7]:
# 7-Print the columns 'Title' and 'Genre'.

films[["Title","Genre"]]

                        Title                   Genre
Num
1    The Shawshank Redemption            Crime, Drama
2               The Godfather            Crime, Drama
3      The Godfather: Part II            Crime, Drama
4             The Dark Knight    Action, Crime, Drama
5                12 Angry Men            Crime, Drama
..                        ...                     ...
246          The Lost Weekend        Drama, Film-Noir
247             Short Term 12                   Drama
248           His Girl Friday  Comedy, Drama, Romance
249        The Straight Story        Biography, Drama
250       Slumdog Millionaire                   Drama

[250 rows x 2 columns]

In [8]:
# 8-Select the 'Title', 'Runtime' and 'Genre' columns from row 1-2 and 3 .

films.loc[[1,2,3],["Title","Runtime","Genre"]]

                        Title  Runtime         Genre
Num
1    The Shawshank Redemption  142 min  Crime, Drama
2               The Godfather  175 min  Crime, Drama
3      The Godfather: Part II  202 min  Crime, Drama

In [9]:
# 9- Select the rows 3 to 7 and the columns 3 to 6

films.iloc[2:7,2:6]

        Released  Runtime                      Genre              Director
Num
3    20 Dec 1974  202 min               Crime, Drama  Francis Ford Coppola
4    18 Jul 2008  152 min       Action, Crime, Drama     Christopher Nolan
5    01 Apr 1957   96 min               Crime, Drama          Sidney Lumet
6    04 Feb 1994  195 min  Biography, Drama, History      Steven Spielberg
7    17 Dec 2003  201 min  Adventure, Drama, Fantasy         Peter Jackson

In [10]:
# 10-Select every row after the fourth row and all columns

films.iloc[4:,:]

,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
Num,,,,,,,,,,,,,,,,,,,,,
5,12 Angry Men,1957,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...,English,...,Nominated for 3 Oscars. Another 16 wins & 8 no...,96.0,8.9,"494,215",tt0050083,movie,06 Mar 2001,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men
6,Schindler's List,1993,04 Feb 1994,195 min,"Biography, Drama, History",Steven Spielberg,"Thomas Keneally (book), Steven Zaillian (scree...","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...","In German-occupied Poland during World War II,...","English, Hebrew, German, Polish",...,Won 7 Oscars. Another 71 wins & 33 nominations.,93.0,8.9,"937,837",tt0108052,movie,09 Mar 2004,NaN,Universal Pictures,http://www.schindlerslist.com
7,The Lord of the Rings: The Return of the King,2003,17 Dec 2003,201 min,"Adventure, Drama, Fantasy",Peter Jackson,"J.R.R. Tolkien (novel), Fran Walsh (screenplay...","Noel Appleby, Ali Astin, Sean Astin, David Aston",Gandalf and Aragorn lead the World of Men agai...,"English, Quenya, Old English, Sindarin",...,Won 11 Oscars. Another 197 wins & 122 nominati...,94.0,8.9,"1,304,569",tt0167260,movie,25 May 2004,"$364,000,000",New Line Cinema,http://www.lordoftherings.net/
8,Pulp Fiction,1994,14 Oct 1994,154 min,"Crime, Drama",Quentin Tarantino,"Quentin Tarantino (stories), Roger Avary (stor...","Tim Roth, Amanda Plummer, Laura Lovelace, John...","The lives of two mob hit men, a boxer, a gangs...","English, Spanish, French",...,Won 1 Oscar. Another 60 wins & 68 nominations.,94.0,8.9,"1,427,451",tt0110912,movie,19 May 1998,NaN,Miramax Films,NaN
9,Fight Club,1999,15 Oct 1999,139 min,Drama,David Fincher,"Chuck Palahniuk (novel), Jim Uhls (screenplay)","Edward Norton, Brad Pitt, Meat Loaf, Zach Grenier","An insomniac office worker, looking for a way ...",English,...,Nominated for 1 Oscar. Another 10 wins & 31 no...,66.0,8.8,"1,458,676",tt0137523,movie,06 Jun 2000,NaN,20th Century Fox,http://www.foxmovies.com/fightclub/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,The Lost Weekend,1945,01 Jan 1946,101 min,"Drama, Film-Noir",Billy Wilder,"Charles R. Jackson (from the novel by), Charle...","Ray Milland, Jane Wyman, Phillip Terry, Howard...",The desperate life of a chronic alcoholic is f...,English,...,Won 4 Oscars. Another 12 wins & 3 nominations.,NaN,8.0,"26,834",tt0037884,movie,06 Feb 2001,NaN,Paramount Pictures,NaN
247,Short Term 12,2013,23 Aug 2013,96 min,Drama,Destin Daniel Cretton,Destin Daniel Cretton,"Brie Larson, John Gallagher Jr., Stephanie Bea...",A 20-something supervising staff member of a r...,English,...,35 wins & 70 nominations.,82.0,8.0,"62,348",tt2370248,movie,14 Jan 2014,NaN,Cinedigm,http://shortterm12.com
248,His Girl Friday,1940,18 Jan 1940,92 min,"Comedy, Drama, Romance",Howard Hawks,"Charles Lederer (screen play), Ben Hecht (from...","Cary Grant, Rosalind Russell, Ralph Bellamy, G...",A newspaper editor uses every trick in the boo...,"English, French",...,2 wins.,NaN,8.0,"43,551",tt0032599,movie,28 Dec 2004,NaN,Columbia Pictures,NaN
249,The Straight Story,1999,03 Nov 1999,112 min,"Biography, Drama",David Lynch,"John Roach, Mary Sweeney","Sissy Spacek, Jane Galloway Heitz, Joseph A. C...",An old man makes a long journey by lawn-mover ...,English,...,Nominated for 1 Oscar. Another 14 wins & 37 no...,86.0,8.0,"67,045",tt0166896,movie,07 Nov 2000,NaN,Buena Vista Pictures,http://disney.go.com/DisneyPictures/straightst...
250,Slumdog Millionaire,2008,25 Dec 2008,120 min,Drama,"Danny Boyle, Loveleen Tandan","Simon Beaufoy (screenplay), Vikas Swarup (novel)","Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...",A Mumbai teen reflects on his upbringing in th...,"English, Hindi, French",...,Won 8 Oscars. Another 144 wins & 126 nominations.,86.0,8.0,"679,975",tt1010048,movie,31 Mar 2009,"$141,243,551",Fox Searchlight Pictures,http://www.foxsearchlight.com/slumdogmillionaire/

In [12]:
# 11-Select rows where film.Runtime is greater than 140.

# First we have to change our Runtime column type as integer after that we can use ">" operators.

films.Runtime.astype(int)

ValueError: invalid literal for int() with base 10: '142 min'

In [13]:
# We have to clean our data because while we try to change our data type error occur we need to fix it.

films.Runtime = films.Runtime.str.strip(" min")

In [14]:
films.Runtime = films.Runtime.astype(int)

In [15]:
films[films.Runtime>140]

,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
Num,,,,,,,,,,,,,,,,,,,,,
1,The Shawshank Redemption,1994,14 Oct 1994,142,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,English,...,Nominated for 7 Oscars. Another 19 wins & 30 n...,80.0,9.3,"1,825,626",tt0111161,movie,27 Jan 1998,NaN,Columbia Pictures,NaN
2,The Godfather,1972,24 Mar 1972,175,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...,"English, Italian, Latin",...,Won 3 Oscars. Another 23 wins & 27 nominations.,100.0,9.2,"1,243,444",tt0068646,movie,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com
3,The Godfather: Part II,1974,20 Dec 1974,202,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...,"English, Italian, Spanish, Latin, Sicilian",...,Won 6 Oscars. Another 10 wins & 20 nominations.,85.0,9.0,"856,870",tt0071562,movie,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/
4,The Dark Knight,2008,18 Jul 2008,152,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker emerges fro...,"English, Mandarin",...,Won 2 Oscars. Another 151 wins & 153 nominations.,82.0,9.0,"1,802,351",tt0468569,movie,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/
6,Schindler's List,1993,04 Feb 1994,195,"Biography, Drama, History",Steven Spielberg,"Thomas Keneally (book), Steven Zaillian (scree...","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...","In German-occupied Poland during World War II,...","English, Hebrew, German, Polish",...,Won 7 Oscars. Another 71 wins & 33 nominations.,93.0,8.9,"937,837",tt0108052,movie,09 Mar 2004,NaN,Universal Pictures,http://www.schindlerslist.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,JFK,1991,20 Dec 1991,189,"Drama, History, Thriller",Oliver Stone,"Oliver Stone (screenplay), Zachary Sklar (scre...","Sally Kirkland, Anthony Ramirez, Ray LePere, S...",A New Orleans DA discovers there's more to the...,"English, Spanish",...,Won 2 Oscars. Another 17 wins & 25 nominations.,72.0,8.0,"120,061",tt0102138,movie,27 Aug 1997,NaN,Warner Bros.,NaN
235,Blood Diamond,2006,08 Dec 2006,143,"Adventure, Drama, Thriller",Edward Zwick,"Charles Leavitt (screenplay), Charles Leavitt ...","Leonardo DiCaprio, Djimon Hounsou, Jennifer Co...","A fisherman, a smuggler, and a syndicate of bu...","English, Mende, Afrikaans",...,Nominated for 5 Oscars. Another 8 wins & 26 no...,64.0,8.0,"424,781",tt0450259,movie,20 Mar 2007,"$57,300,000",Warner Bros. Pictures,http://www.blooddiamondmovie.com/
236,Magnolia,1999,07 Jan 2000,188,Drama,Paul Thomas Anderson,Paul Thomas Anderson,"Pat Healy, Genevieve Zweig, Mark Flanagan, Nei...",An epic mosaic of interrelated characters in s...,"English, German, French",...,Nominated for 3 Oscars. Another 28 wins & 51 n...,77.0,8.0,"251,286",tt0175880,movie,25 Jul 2000,NaN,New Line Cinema,http://www.magnoliamovie.com
238,The Revenant,2015,08 Jan 2016,156,"Adventure, Drama, Thriller",Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"Mark L. Smith (screenplay), Alejandro GonzÃ¡lez...","Leonardo DiCaprio, Tom Hardy, Domhnall Gleeson...",A frontiersman on a fur trading expedition in ...,"English, Pawnee, French",...,Won 3 Oscars. Another 82 wins & 177 nominations.,76.0,8.0,"504,647",tt1663202,movie,19 Apr 2016,NaN,20th Century Fox,http://www.foxmovies.com/movies/the-revenant
245,Patton,1970,02 Apr 1970,172,"Biography, Drama, War",Franklin J. Schaffner,Francis Ford Coppola (screen story and screenp...,"George C. Scott, Karl Malden, Stephen Young, M...",The World War II phase of the career of the co...,"English, German, French, Russian, Arabic, Italian",...,Won 7 Oscars. Another 17 wins & 8 nominations.,91.0,8.0,"80,730",tt0066206,movie,02 Nov 1999,NaN,Twentieth Century Fox Home Entertainment,NaN

In [20]:
# 12-Rename Runtime column and make it understandable (Runtime (min)).

films.rename(columns={"Runtime":"Runtime (min)"},inplace=True)
films[["Title","Runtime (min)"]]

                        Title  Runtime (min)
Num
1    The Shawshank Redemption            142
2               The Godfather            175
3      The Godfather: Part II            202
4             The Dark Knight            152
5                12 Angry Men             96
..                        ...            ...
246          The Lost Weekend            101
247             Short Term 12             96
248           His Girl Friday             92
249        The Straight Story            112
250       Slumdog Millionaire            120

[250 rows x 2 columns]

In [23]:
# 13-Select rows where Runtime is greater than 210 or less than 80

filt = (films["Runtime (min)"] > 210) | (films["Runtime (min)"]<80)
films[filt]

,Title,Year,Released,Runtime (min),Genre,Director,Writer,Actors,Plot,Language,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
Num,,,,,,,,,,,,,,,,,,,,,
55,Once Upon a Time in America,1984,01 Jun 1984,229,"Crime, Drama",Sergio Leone,"Harry Grey (novel), Leonardo Benvenuti (screen...","Robert De Niro, James Woods, Elizabeth McGover...",A former Prohibition-era Jewish gangster retur...,"English, Italian, French",...,Nominated for 2 Golden Globes. Another 11 wins...,NaN,8.4,"239,391",tt0087843,movie,10 Jun 2003,NaN,Warner Home Video,NaN
65,Lawrence of Arabia,1962,11 Dec 1962,216,"Adventure, Biography, Drama",David Lean,"T.E. Lawrence (writings), Robert Bolt (screenp...","Peter O'Toole, Alec Guinness, Anthony Quinn, J...","The story of T.E. Lawrence, the English office...","English, Arabic, Turkish",...,Won 7 Oscars. Another 23 wins & 14 nominations.,100.0,8.3,"207,765",tt0056172,movie,03 Apr 2001,NaN,Columbia Pictures,NaN
66,The Kid,1921,06 Feb 1921,68,"Comedy, Drama, Family",Charles Chaplin,Charles Chaplin,"Carl Miller, Edna Purviance, Jackie Coogan, Ch...","The Tramp cares for an abandoned child, but ev...",English,...,1 win.,NaN,8.3,"76,513",tt0012349,movie,02 Mar 2004,NaN,First National Pictures Inc.,NaN
103,The General,1926,24 Feb 1927,67,"Action, Adventure, Comedy","Clyde Bruckman, Buster Keaton","Buster Keaton, Clyde Bruckman, Al Boasberg (ad...","Buster Keaton, Marion Mack, Glen Cavender, Jim...",When Union spies steal an engineer's beloved l...,English,...,2 wins & 1 nomination.,NaN,8.2,"58,327",tt0017925,movie,26 Oct 1999,NaN,United Artists Films,NaN
119,Gone with the Wind,1939,17 Jan 1940,238,"Drama, History, Romance","Victor Fleming, George Cukor, Sam Wood","Margaret Mitchell (story of the old south ""Gon...","Thomas Mitchell, Barbara O'Neil, Vivien Leigh,...",A manipulative woman and a roguish man conduct...,English,...,Won 8 Oscars. Another 10 wins & 9 nominations.,97.0,8.2,"230,951",tt0031381,movie,07 Mar 2000,NaN,Loew's Inc.,http://warnervideo.com/gonewiththewind/
147,Ben-Hur,1959,29 Jan 1960,212,"Adventure, Drama, History",William Wyler,"Lew Wallace (novel), Karl Tunberg (screenplay)","Charlton Heston, Jack Hawkins, Haya Harareet, ...",When a Jewish prince is betrayed and sent into...,English,...,Won 11 Oscars. Another 16 wins & 13 nominations.,90.0,8.1,"175,529",tt0052618,movie,13 Sep 2005,NaN,MGM,NaN
239,The Nightmare Before Christmas,1993,29 Oct 1993,76,"Animation, Family, Fantasy",Henry Selick,Tim Burton (based on: a story and characters b...,"Danny Elfman, Chris Sarandon, Catherine O'Hara...","Jack Skellington, king of Halloween Town, disc...",English,...,Nominated for 1 Oscar. Another 7 wins & 7 nomi...,NaN,8.0,"238,561",tt0107688,movie,02 Dec 1997,"$8,616,662",Touchstone Pictures,http://www.Nightmare3DMovie.com/